.link-style a:hover {
    text-decoration:none; color:rgb(255, 255, 255);
}
.line-break { 
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    border-color:#0A5083;
}
.line-break-bg { 
    height: 55px;
    display: block;
    margin-top: 55;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    border-color:#0A5083;
}
.paralax{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #FFF;
    background-color: #03274F;
}
.logo-hover{
    position: relative;
    height: 30px; width: auto;
}
.navbar-logo{
    height: 30px; width: auto;
    padding-right: 10px;
}
.fixed-on-top{
    position: fixed;
    z-index: 100;
}
.map-paralax{
    position: relative;
    width: 100%; height: auto;
    text-align: center;
    background-color: #03274F;
}
.flow-paralax{
    overflow: hidden;
}
